
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.icon{
    padding-right: 5px;
}

/*header*/
header{
    height: 80px;
    background-color: black;
    text-align: right;
    padding-top: 10px;
}

header button{
    margin-right: 10px;
    margin-top: 10px;
    border: 0;
    color: white;
    padding: 5px;
    background-color: rgb(80, 79, 79);
    border-radius: 5px;
    cursor: pointer;
}

/*Main layout con la barra scorrevole*/
main{
    flex-grow: 1;
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
}

#room{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: 100%;
}

#room .partecipante{
    position: relative;
    border: 2px solid black ;
}

#room .partecipante-img{
    object-fit: cover;
}


#room .name-partecipante{
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}





/*footer con tutte le icone di zoom*/
footer{
    background-color: rgb(42, 42, 42);
    height: 100px;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

footer .selectors{
    display: flex;
    align-items: center;
    text-align: center;

}

footer .selector {
    padding: 10px;
}
footer .selector i{
    padding-bottom: 5px;
    font-size: 29px;  
}

footer .selector .share{
    color: rgb(18, 195, 18);
}

footer .selector .end{
    color: red;
    margin: 0 20px;
}
